/* Vivian Zheng, Equipment.css, 5/5/22 */

  .equipTable table {
    width: 1500px;
    margin-left: 20px;
    border: 1px solid;
    border-collapse: collapse;
  }

  /* Set the width of the total in stock column */
  thead th:nth-child(6) {
    width: 7%;
  }

  /* Set the width of the number checked out column */
  thead th:nth-child(7) {
    width: 10%;
  }

  /* The next few classes are for styling the buttons */
  .checkInButton {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .checkOutButton {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .updateButton {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .deleteButton {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .saveButton {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .addEquipmentButton {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  /* The next few classes are for styling the input boxes for the forms that adds new equipment */
  .idInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .nameInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .modelInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .brandInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .priceInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .totalInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }



